{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ABOUT US</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to My E-commerce</p>
                </div>
            </div>
        </header>

        <div class=" container">
            <div class="row">
                <center>
                    <div class="clo-8">
                        <br/><br/>
                        <p align="justify">
                            Welcome to My E-commerce site, your go-to destination for quality products at the best prices. We’re passionate about bringing you a seamless shopping experience with carefully curated collections, secure payment options, and fast, reliable delivery. Our mission is simple — to combine style, quality, and affordability so that you can shop with confidence and satisfaction.

<br>At My E-commerce site, every product we offer is handpicked to meet high standards of durability, design, and value. Whether you’re searching for everyday essentials or something unique, we aim to provide a diverse range that suits every taste and need. Our friendly customer support team is always ready to help you with queries, orders, or personalized recommendations.

<br>We believe shopping should be easy, enjoyable, and trustworthy. That’s why we focus on transparency, hassle-free returns, and delivering exactly what we promise. With us, you’re not just buying a product — you’re joining a community built on trust and care.<br/>
                        </p>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}